* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

img {
  pointer-events: none;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  z-index: 1;
  overflow: hidden;
  user-select: none;
}

.page-overlay {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  & ~ {

  }
}

.main {
  flex-grow: 1;
  padding: 50px 0;
  background: #F6F7F9;
}

.container {
  --container-gap: 20px;

  width: 100%;
  max-width: calc(1200px + var(--container-gap) * 2);
  padding: 0 var(--container-gap);
  margin: 0 auto;

  @media (max-width: 421px) {
    --container-gap: 10px;
  }
}